h1 Recipes
#selectedIngredients
div(id= spinnerId).hidden
div(id= contentId)
	- if(subviews.length)
		each recipeView, index in subviews
			- if(index)
				hr.recipe
			div(id= recipeView.id)
	- else
		| There are no recipes to be displayed