a(href="#").recipe
	.row
		.span1
			.thumbnail
				img(src= recipe.images[0]).flexible
		.span5
			.recipeName= recipe.name
			.recipeIngredientShort
				- if(recipe.ingredientsFromKitchen.length)
					| with 
					each ingredient, index in recipe.ingredientsFromKitchen
						- if(index)
							| , #{ingredient.attributes.name}
						- else
							| #{ingredient.attributes.name}