doctype 5
html(lang="en")
	head
		title yarse
		script(type="text/javascript", charset="utf-8", src="static/"+hash+".js")
		// script(type="text/javascript", charset="utf-8")!= "window.webpack_output = " + JSON.stringify(output) + ";"
		style body {padding-top: 60px; }
	body