ul#myTab.nav.nav-tabs
	each item, i in items
		li(class= i ? "" : "active")
			a(href= '#' + item.href, data-toggle="tab")= item.text
div#myTabContent.tab-content
	each item, i in items
		div(id= item.href, class= i ? "" : "in active").tab-pane.fade
			p= item.content