.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a(data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
				each item in items
					span.icon-bar
			a(href="#").brand= pageTitle
			.nav-collapse.collapse
				ul#navigationBar.nav
					each item, i in items
						li(class= i ? "" : "active")
							a(href= '#' + item.href, data-toggle="tab")= item.text
	.container
		#navigationBarContent.tab-content
			each item, i in items
				div(id= item.href, class= i ? "" : "in active").tab-pane.fade
					p= item.content